# Dependencies for building the jupyter book
jupyter-book>=0.15.1
sphinx-sitemap>=2.6.0,<3
mkdocs-material>=9.6.14,<10
mkdocs-jupyter>=0.25.1,<1
mkdocs-llmstxt>=0.2.0,<1
mkdocs-awesome-nav>=3.1.2,<4
mike>=0.3.4,<1